doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Noticia+Text|Source+Sans+Pro', rel='stylesheet', type='text/css')
  body
    block content
